{% extends "base/base.html" %}

{% block content %}

{% if user %}
Already logged in. <br/>
{{user}}
{% else %}

<h1>Set New Password</h1>

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<form action="/auth/set-password" method="post">
    <p>
        <p><label for="">New Password</label></p>
        <input type="password" class="ms-0 border" style="width:300px;" name="username" value="{{ username }}" required>
    </p>
    <input type="password" class="ms-0 border" style="width:300px;" name="reset_password_token"  value={{reset_password_token}} hidden>
    
    <button type="submit" value="Submit" class="btn btn-primary">Set new password</button>
</form>

{% endif %}
<br/>
{% endblock content %}