ERROR

In order to register your token trnsactions, send any amount of EUROe to <code>3GjqwYXv5sGY1QZdhx3uBdNz1LWUofQAn4tyV6wQu8cg9592Ur</code>.
    Make note of the <i>tx hash</i> for this transaction and paste is here.<br/>
      <div>
        
        <input type="text" name="tx_hash" class="border m-2 ms-0" style="width:200px;" >
      </div>
      
      <button hx-post="/account/record-tx-hash-token-payment" hx-target = "#token_tx_hash" hx-include="[name='tx_hash']"class="btn btn-primary">Submit</button>
    